/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

@font-face {
    font-family: europa;
    src: url("https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/l?subset_id=2&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/d?subset_id=2&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Roboto";
    src: url("//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Roboto";
    src: url("//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: proxima-nova;
    src: url("https://use.typekit.net/af/c47696/00000000000000003b9b305e/27/l?subset_id=2&fvd=n1&v=3") format("woff2"), url("https://use.typekit.net/af/c47696/00000000000000003b9b305e/27/d?subset_id=2&fvd=n1&v=3") format("woff"), url("https://use.typekit.net/af/c47696/00000000000000003b9b305e/27/a?subset_id=2&fvd=n1&v=3") format("opentype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: proxima-nova;
    src: url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/l?subset_id=2&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/d?subset_id=2&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/a?subset_id=2&fvd=n3&v=3") format("opentype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: proxima-nova;
    src: url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/l?subset_id=2&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/d?subset_id=2&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: proxima-nova;
    src: url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/l?subset_id=2&fvd=n6&v=3") format("woff2"), url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/d?subset_id=2&fvd=n6&v=3") format("woff"), url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/a?subset_id=2&fvd=n6&v=3") format("opentype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: proxima-nova;
    src: url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/l?subset_id=2&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/d?subset_id=2&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
}

body {
    font-family: proxima-nova;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .02em;
    line-height: 1.6em;
}

#crm-main-content-wrapper label {
    color: #000;
}

header#navbar.container {
    background-color: #fff;
    border: 0px;
    top: 0px;
    max-width: 1300px;
    margin:0 auto;
}

.navbar.container > .container, .navbar.container-fluid > .container-fluid {
    width: 100%;
    margin: auto;
    padding: 23px 0;
}

a.logo img {
    width: auto;
    height: 49px;
}

nav, .navbar-nav, .navbar-default .navbar-nav > li > a {
    font-family: europa;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: rgba(104,168,52,.99);
    padding: 7px;
}

#navbar a:focus, #navbar a:hover, a:focus, a:hover {
    color: #487406;
}

div.main-container {
    margin: 2em auto;
}

footer.container {
    width: 100%;
    margin: 0;
    text-align:center;
}

footer {
    font-size: 14px !important;
    background: #d0d0d0;
    padding: 0.4em 0;
    color: #000;
}

footer a, footer a {
    color: #39a00d;
}
